
body {
    background-color : lightblue;
 }
 
 div {
   padding: 10px;
 
 }
 
 .Texto > input {
    position : relative;
    left: 1%;
    width: 60%;
 } 
 
 .Titulo.Pasta {
    text-align: center;
    font-size : 40;
    font-weight : bold;
 }
 
 .Titulo {
   font-weight : bold;
 }
 
 .Frame.FormItem {
    border: inset;
    border-radius : 15px;
    background-color : white;
 }
 