body {
    background-color: #f0f0f0;
    padding-top: 120px; /* Para a navbar não sobrepor o conteúdo */
    font-family: Arial, sans-serif; /* Usar uma fonte padrão mais limpa */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.Frame.FormItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar uma sombra suave para destacar */
}

.Frame.FormItem .Titulo {
    font-weight: bold;
    margin-bottom: 15px;
    color: #333; /* Cor mais escura para o título */
}

.Frame.FormItem .Explicacao {
    color: #666; /* Cor um pouco mais escura para o texto de explicação */
    margin-bottom: 10px;
}

.Frame.FormItem .inputData {
    width: 100%; /* Garantir que os inputs se estendam por toda a largura */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evitar que o padding afete a largura total */
    margin-bottom: 10px;
}

.Frame.FormItem .inputData[type="checkbox"] {
    width: auto; /* Deixar o tamanho automático para checkboxes */
    margin-right: 5px;
}

.Frame.FormItem .inputData[type="radio"] {
    width: auto; /* Deixar o tamanho automático para radio buttons */
    margin-right: 5px;
}

.Frame.FormItem .inputData[type="checkbox"] + span,
.Frame.FormItem .inputData[type="radio"] + span {
    color: #333; /* Cor escura para o texto dos checkboxes e radio buttons */
}

.Frame.FormItem .inputData[type="checkbox"]:checked + span::before,
.Frame.FormItem .inputData[type="radio"]:checked + span::before {
    content: "\2713"; /* Adicionar um marcador de seleção (✓) para checkboxes e radio buttons selecionados */
    color: #007bff; /* Cor azul para o marcador de seleção */
    font-weight: bold;
}

.Frame.FormItem .inputData:focus {
    outline: none; /* Remover a borda de foco */
    border-color: #007bff; /* Mudar a cor da borda quando o input está em foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adicionar uma sombra sutil para indicar foco */
}

.alerta-visualizacao {
    background-color: #ffcccc; /* Um vermelho claro para o fundo */
    color: #cc0000; /* Um vermelho mais escuro para o texto */
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border: 1px solid #cc0000;
    position: fixed;
    width: 100%;
    top: 56px; /* Posicionar logo abaixo da navbar */
    left: 0;
    z-index: 1050; /* Garantir que apareça sobre outros elementos, abaixo do modal, se houver */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}